.ongoing-events-wrapper {
  background-color: #30170f;
  grid-area: ongoing;
  overflow: auto;
  box-shadow: 0px 0px 5px black;
}

.ongoing-events-wrapper h1 {
  margin: 0;
  color: #ea4c4c;
  font-style: italic;
  padding: 0.5em;
  position: sticky;
  top: 0px;
  z-index: 10;
  background-color: #30170f;
}

.ongoing-events-wrapper p {
  margin: auto;
}
