.ongoing-events-wrapper {
  background-color: #30170f;
  grid-area: ongoing;
  overflow: auto;
  box-shadow: 0px 0px 5px black;
}

.ongoing-events-wrapper h1 {
  margin: 0;
  color: #ea4c4c;
  font-style: italic;
  padding: 0.5em;
  position: sticky;
  top: 0px;
  background-color: #30170f;
}

.ongoing-events-wrapper p {
  margin: auto;
}

.bet-component-wrapper {
  width: 90%;
  height: 5em;
  background-color: #c4c4c4;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: appear 200ms ease-in;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bet-player {
  font-size: 20px;
  font-weight: 500;
  width: 30%;
  text-align: center;
  user-select: none;
  animation: appear 200ms ease-in;
}

.bet-player-selected {
  font-size: 20px;
  text-shadow: 2px 2px 6px black;
  font-weight: 500;
  width: 30%;
  text-align: center;
  user-select: none;
  animation: appear 200ms ease-in;
}

.versus {
  font-size: 28px;
  font-style: italic;
  font-weight: 800;
  user-select: none;
  animation: appear 200ms ease-in;
}

.bet {
  font-size: 28px;
  font-style: italic;
  font-weight: 800;
  cursor: pointer;
  animation: appear 200ms ease-in;
}

.bet:hover {
  text-shadow: 2px 2px 8px #ea4c4c;
}
