.display-ticket-wrapper {
  width: 90%;
  height: 4em;
  background-color: #c4c4c4;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: appear 200ms ease-in;
}

.display-ticket-wrapper p {
  font-size: 20px;
  text-align: center;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
