.display-ticket-wrapper {
  position: relative;
  width: 90%;
  height: 4em;
  background-color: #e3e3e3;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: appear 200ms ease-in;
}

.bet-component-wrapper {
  width: 90%;
  height: 5em;
  background-color: #e3e3e3;
  margin: 40px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: appear 200ms ease-in;
  position: relative;
}

.group-label {
  position: absolute;
  height: 30px;
  background-color: #30170f;
  color: #fff;
  border: 2px solid #e3e3e3;
  border-radius: 5px 5px 0px 0px;
  top: -32px;
  right: 0px;
  padding-left: 10px;
  padding-right: 10px;
}

.group-label p {
  padding-top: 5px;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bet-player {
  font-weight: 500;
  width: 30%;
  text-align: center;
  user-select: none;
  animation: appear 200ms ease-in;
  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
  @media screen and (min-width: 800px) {
    font-size: 20px;
  }
}

.bet-player-selected {
  text-shadow: 2px 2px 6px #ea4c4c;
  font-weight: 500;
  width: 30%;
  text-align: center;
  user-select: none;
  animation: appear 200ms ease-in;
  @media screen and (max-width: 800px) {
    font-size: 16px;
  }
  @media screen and (min-width: 800px) {
    font-size: 20px;
  }
}

.versus {
  font-size: 28px;
  font-style: italic;
  font-weight: 800;
  user-select: none;
  animation: appear 200ms ease-in;
}

.bet {
  font-size: 28px;
  font-style: italic;
  font-weight: 800;
  cursor: pointer;
  animation: appear 200ms ease-in;
}

.bet:hover {
  text-shadow: 2px 2px 8px #ea4c4c;
}
