.incoming-events-wrapper {
  background-color: #30170f;
  grid-area: incoming;
  overflow: auto;
  box-shadow: 0px 0px 5px black;
}

.incoming-events-wrapper h1 {
  margin: 0;
  color: #ea4c4c;
  font-style: italic;
  padding: 0.5em;
  position: sticky;
  z-index: 10;
  top: 0px;
  background-color: #30170f;
  box-shadow: 0px 0px 5px black;
}

.incoming-events-wrapper h2 {
  color: #ea4c4c;
  font-style: italic;
  padding: 2.5em;
  background-color: #30170f;
}

.incoming-events-wrapper p {
  margin: auto;
}
